In [1]:
import os
import pandas as pd

In [2]:
# Save filepath as a variable
# jan = os.path.join('Resources', '201901-citibike-tripdata.csv')
# feb = os.path.join('Resources', '201902-citibike-tripdata.csv')
# mar = os.path.join('Resources', '201903-citibike-tripdata.csv')
# apr = os.path.join('Resources', '201904-citibike-tripdata.csv')
# may = os.path.join('Resources', '201905-citibike-tripdata.csv')
june = os.path.join('Resources', '201906-citibike-tripdata.csv')
july = os.path.join('Resources', '201907-citibike-tripdata.csv')
aug = os.path.join('Resources', '201908-citibike-tripdata.csv')
# sept = os.path.join('Resources', '201909-citibike-tripdata.csv')
# oct = os.path.join('Resources', '201910-citibike-tripdata.csv')
# nov = os.path.join('Resources', '201911-citibike-tripdata.csv')
# dec = os.path.join('Resources', '201912-citibike-tripdata.csv')

In [3]:
# jan_df = pd.read_csv(jan20)
# feb_df = pd.read_csv(feb)
# mar_df = pd.read_csv(mar)
# apr_df = pd.read_csv(apr)
# may_df = pd.read_csv(may)
jun_df = pd.read_csv(june)
july_df = pd.read_csv(july)
aug_df = pd.read_csv(aug)
# sept_df = pd.read_csv(sept)
# oct_df = pd.read_csv(oct)
# nov_df = pd.read_csv(nov)
# dec_df = pd.read_csv(dec)

In [4]:
jun_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,00:01.5,05:31.8,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,00:04.2,13:55.1,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,00:06.0,06:26.8,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,00:06.8,19:22.5,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,00:07.5,17:42.6,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1

In [5]:
jun_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1048570,174,57:00.1,59:54.5,369,Washington Pl & 6 Ave,40.732241,-74.000264,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,33562,Subscriber,1992,1
1048571,1037,57:00.3,14:17.3,3254,Soissons Landing,40.692317,-74.014866,3254,Soissons Landing,40.692317,-74.014866,32149,Customer,1969,0
1048572,376,57:00.5,03:16.9,368,Carmine St & 6 Ave,40.730386,-74.002150,238,Bank St & Washington St,40.736197,-74.008592,29913,Subscriber,1990,1
1048573,1253,57:01.7,17:54.7,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,3712,W 35 St & Dyer Ave,40.754692,-73.997402,25297,Customer,1981,1
1048574,224,57:01.8,00:46.4,212,W 16 St & The High Line,40.743349,-74.006818,212,W 16 St & The High Line,40.743349,-74.006818,32613,Customer,1969,0

In [6]:
jun_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [7]:
# dataframes = [jan_df, feb_df, mar_df, apr_df, may_df, jun_df] # july_df, aug_df, sept_df, oct_df, nov_df, dec_df]
dataframes = [jun_df, july_df, aug_df]
CitiBikeData_df = pd.concat(dataframes)
# CitiBikeData_df = jun_df
CitiBikeData_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,00:01.5,05:31.8,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,00:04.2,13:55.1,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,00:06.0,06:26.8,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,00:06.8,19:22.5,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,00:07.5,17:42.6,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1

In [8]:
# reset index to show as rider id
CitiBikeData_df = CitiBikeData_df.rename(columns={'index': 'rideid'})
CitiBikeData_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,00:01.5,05:31.8,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,00:04.2,13:55.1,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,00:06.0,06:26.8,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,00:06.8,19:22.5,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,00:07.5,17:42.6,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1

In [9]:
# recalculate and show trip duration as mins
CitiBikeData_df['Duration'] = CitiBikeData_df['tripduration']/60
CitiBikeData_df.Duration = CitiBikeData_df.Duration.round(2)
CitiBikeData_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Duration
0,330,00:01.5,05:31.8,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1,5.50
1,830,00:04.2,13:55.1,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2,13.83
2,380,00:06.0,06:26.8,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2,6.33
3,1155,00:06.8,19:22.5,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1,19.25
4,1055,00:07.5,17:42.6,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1,17.58

In [10]:
# use birth year to add Age column
CitiBikeData_df['Age'] = 2019 - CitiBikeData_df['birth year']
CitiBikeData_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Duration,Age
0,330,00:01.5,05:31.8,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1,5.50,27
1,830,00:04.2,13:55.1,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2,13.83,32
2,380,00:06.0,06:26.8,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2,6.33,29
3,1155,00:06.8,19:22.5,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1,19.25,32
4,1055,00:07.5,17:42.6,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1,17.58,46

In [11]:
# Check max ages
CitiBikeData_df['Age'].nlargest(1000).value_counts()

119    362
130    142
131    133
129     85
123     58
134     56
126     46
133     38
132     36
120     34
124      8
128      1
122      1
Name: Age, dtype: int64

In [12]:
#Exclude ages above 90
CitiBikeData_df = CitiBikeData_df[CitiBikeData_df['Age'] < 90]

In [13]:
# recheck max ages
CitiBikeData_df['Age'].nlargest(1000).value_counts()

84    248
83    241
87    222
89    153
85     59
86     52
88     25
Name: Age, dtype: int64

In [14]:
# create and restate gender of each rider in new gender column
CitiBikeData_df['Gender'] = CitiBikeData_df['gender'].replace([0,1,2],['unknown',"Male","Female"])
CitiBikeData_df = CitiBikeData_df.drop('gender',1)
CitiBikeData_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Duration,Age,Gender
0,330,00:01.5,05:31.8,3602.0,31 Ave & 34 St,40.763154,-73.920827,3570.0,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,5.50,27,Male
1,830,00:04.2,13:55.1,3054.0,Greene Ave & Throop Ave,40.689493,-73.942061,3781.0,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,13.83,32,Female
2,380,00:06.0,06:26.8,229.0,Great Jones St,40.727434,-73.993790,326.0,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,6.33,29,Female
3,1155,00:06.8,19:22.5,3771.0,McKibbin St & Bogart St,40.706237,-73.933871,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,19.25,32,Male
4,1055,00:07.5,17:42.6,441.0,E 52 St & 2 Ave,40.756014,-73.967416,3159.0,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,17.58,46,Male

In [15]:
CitiBikeData_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Duration,Age,Gender
1048570,595,10:53.8,20:49.7,477.0,W 41 St & 8 Ave,40.756405,-73.990026,494.0,W 26 St & 8 Ave,40.747348,-73.997236,27837,Subscriber,1964,9.92,55,Male
1048571,321,10:54.0,16:15.5,3557.0,40 Ave & 9 St,40.757420,-73.945133,3129.0,Queens Plaza North & Crescent St,40.751102,-73.940737,17174,Subscriber,1976,5.35,43,Male
1048572,891,10:54.1,25:46.0,3708.0,W 13 St & 5 Ave,40.735445,-73.994310,249.0,Harrison St & Hudson St,40.718710,-74.009001,27188,Customer,1969,14.85,50,unknown
1048573,194,10:54.9,14:09.5,168.0,W 18 St & 6 Ave,40.739713,-73.994564,116.0,W 17 St & 8 Ave,40.741776,-74.001497,14838,Subscriber,1990,3.23,29,Female
1048574,836,10:55.5,24:52.0,387.0,Centre St & Chambers St,40.712733,-74.004607,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,39011,Subscriber,1988,13.93,31,Male

In [16]:
CitiBikeData_df.to_csv('citibike_Jun19_Aug19.csv', index=False)